li a {
    color: rgba(0, 0, 0, 0.53);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #000;
}

body {
    background-image: url("img.png");
}

.main {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: absolute;
    top: 30%;
    left: 35%;
}